<template name="Purchases">
	<div class="row"> 
		<legend>Click on the row to update or do purchase</legend>
		{{> reactiveTable settings=settings class="table table-bordered table-hover table-striped"}}  
	</div>
	<div class="row"> 
		<legend>Purchase transaction History</legend>
		{{> reactiveTable collection=purchaseCollection showFilter=true rowsPerPage=5 class="table table-hover table-striped"}}  
	</div>
</template>


