<template name="Register">
 <div class="container">
    <div class="row">
        <form role="form" id="register-form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputName">Enter Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassowrd">Enter Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-block btn-info">
            </div>
        </form>        
    </div>
</div>
</template>
