<template name="Home">

 <div class="jumbotron" btn-success>
  <h1>Booker app - business solutions </h1>
  <p>Manage your inventory. Maintain customer data.  Create and manage invoices . Manage sales and purchases</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</template>
