<template name="Navbar">


  <nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Booker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {{#if currentUser}}
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/sales">Sales</a></li>
        <li><a href="/purchases">Purchases</a></li>
        <li><a href="/inventory">Stock</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><span class="divider"> | </span></li>
        <li><a href="/customers">Customer</a></li>
        <li><a href="/vendors">Suppliers</a></li>
      </ul>
     {{/if}}
      <ul class="nav navbar-nav navbar-right">
        <li>
        	{{#if currentUser}}
        		<a id="logoutBtn" href="/">{{currentUser.profile.name}} Logout</a>
        	{{else}}
        		<a href="/login">Login</a>
        	{{/if}}
  			
        </li>
      </ul>
    </div>
  </div> 
</nav>
</template>
