<template name="Dashboard">

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-inverse">
  			<div class="panel-heading">
    			<h3 class="panel-title"><strong>Tyres</strong></h3>
 			</div>
		    <div class="panel-body">
		    <span class="badge">320</span>  in stock <br>
		    <span class="badge">120 </span> sold this month
		    </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-inverse">
  			<div class="panel-heading">
    			<h3 class="panel-title"><strong>Batteries</strong></h3>
 			</div>
		    <div class="panel-body">
		    	<span class="badge">20</span> in stock <br>
		    	<span class="badge">12</span> sold this month
		    </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-inverse">
  			<div class="panel-heading">
    			<h3 class="panel-title"><strong>Wheels</strong></h3>
 			</div>
		    <div class="panel-body">
		    	<span class="badge btn-warning">32</span> in stock <br>
		    	<span class="badge">9</span> sold this month
		    </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	<div class="row"> 
		<legend>Product lookup</legend>
		{{> reactiveTable settings=settings class="table table-hover table-striped"}}  
	</div>
	</div>
</div>
</template>
