<template name="Login">
  <div class="row">
  	<div class="col-lg-8">

  		<form class="form-horizontal" id="login-form">

		  <fieldset>
		    
		    <div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="email" placeholder="Email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
		      <div class="col-lg-10">
		        <input type="password" class="form-control" id="password" placeholder="Password">
		        <div class="checkbox">
		          <label>
		            <input type="checkbox"> remember password
		          </label>
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
  	</div>

  </div>
  <div class="row">
  	<a href="/register">Register for an account</a>
  </div>
 
</template>


